@import '../Pages/SharedBase.css';

form {
  background: #dadada;
}

.formHome-input {
    background-color: #ffffff;   
  }

  .home-main h2 {
    align-self: center;   
    text-align: center;   
  }