/* BoardingDetails.css */

.boarding-details-container {
  background-color: rgba(5,120,255, 0.1);
  padding: 1.5rem;
  border-radius: 8px;
  position: relative;
  overflow: hidden;
}

.booking-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.title {
  font-size: 1.25rem;
  font-weight: 600;
  margin: 0;
}

.class-info {
  font-size: 0.95rem;
  color: #0275d8; 
  font-weight: 500;
}

.station-info {
  margin-bottom: 1rem;
}

.station-name {
  font-size: 1.15rem;
  font-weight: 500;
}


.journey-info {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  align-items: center;
  gap: 2rem;
  margin-bottom: 1rem;
}

.departure-info {
  display: flex;
  flex-direction: column;
  min-width: 100px;
  text-align: left;
}

.arrival-info {
  display: flex;
  flex-direction: column;
  min-width: 100px;
  text-align: right;
}


.duration-container {
  display: flex;
  flex-direction: column;
  align-items: center;   /* center horizontally */
  justify-content: center;
}

/* Create a horizontal line with dots at both ends */
.duration-line {
  position: relative;
  width: 600px; 
  height: 2px;
  background: #ccc;  /* Line color */
  width: 200%;
}

.duration-line::before,
.duration-line::after {
  content: "";
  position: absolute;
  width: 8px;
  height: 8px;
  background: #ccc;  
  border-radius: 50%;
  top: 50%;
  transform: translateY(-50%);
}

.duration-line::before {
  left: 0;
}

.duration-line::after {
  right: 0;
}

.duration-label {
  font-size: 0.85rem;
  color: #666;
  margin-top: 0.5rem;
}

.divider {
  border: none;
  border-top: 1px solid #ccc;
  margin: 1.5rem 0;
}


/* Traveller Details */
.traveller-details h3 {
  margin-bottom: 1rem;
  font-size: 1.15rem;
  font-weight: 600;
}

.traveller-row {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
  margin-bottom: 1rem;
  font-size: 0.95rem;
}

/* E-ticket container */
.eticket-info {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 1rem;
}

.eticket-label p {
  margin: 0.25rem 0;
  font-size: 0.9rem;
  color: #333;
}

.eticket-destination {
  text-align: right;
}

.eticket-destination p {
  margin: 0.25rem 0;
  font-size: 0.9rem;
  color: #333;
}
