@import '../styles/SharedBase.css';

.form-row {
  background: #fafafa;
  padding: 0.5rem 1rem;
  border-radius: 4px;
}

.search-button {
    width: 150px;               
  }
  
  .form-row span {
    margin-right: 2rem;
  }
