.payment-method {
  max-width: 650px;
  padding: 2rem;
  margin-top: 0.26rem;
}

.payment-method-title {
  font-size: 1.25rem;
  margin-bottom: 1rem;
  font-weight: 600;
}

.payment-option {
  position: relative;
  display: flex;
  align-items: center;
  border-top: 1px solid #ccc;
  padding: 1rem;
  gap: 1rem;
  cursor: pointer;
  transition: background-color 0.3s;
}

.payment-option.selected {
  background-color: white;
  color: black;
}

.payment-option input[type="radio"] {
  margin-right: 0.5rem;
  cursor: pointer;
}

.payment-option-label {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.option-heading {
  font-weight: 600;
}

.option-subtext {
  font-size: 0.9rem;
  color: grey;
}

.arrow-indicator {
  font-weight: bold;
  margin-left: 0.5rem;
}

.payment-option.selected .arrow-indicator {
  color: #fff;
}

.credit-card-form {
  margin-top: 1rem;
  background: white;
  padding: 1rem;
  border-radius: 6px;
}

.form-row {
  margin-left: 0.75rem;
  display: flex;
}

.credit-card-form .form-row:not(.small-inputs) {
  flex-direction: column;
}

.form-row label {
  font-size: 0.85rem;
  margin-bottom: 0.3rem;
}

.form-row input {
  padding: 0.5rem;
  font-size: 0.9rem;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.small-inputs {
  display: flex;
  gap: 1rem; 
}

.small-inputs > div {
  flex: 1; 
}

.pay-button {
  margin: 1rem auto; 
  background-color: #28a745;
  color: #fff;
  border: none;
  border-radius: 4px;
  padding: 0.6rem 1rem;
  font-size: 0.875rem;
  cursor: pointer;
  transition: background-color 0.3s;
  display: block;
  width: 91%;
}

.pay-button:hover {
  background-color: #218838;
}

.applepay-form {
  margin-top: 1rem;
  background: white;
  padding: 1rem;
  border-radius: 6px;
}

.applepay-button {
  background-color: white; 
  color: black;
  border: none;
  border-radius: 4px;
  font-size: 1.3rem;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s;
  display: block;
  margin: 0 auto; 
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}

.applepay-button:hover {
  background-color: white;
}

.applepay-button-logo {
  height: 3rem; 
  width: auto; 
  object-fit: contain; 
}
