.title-container {
    margin-bottom: 3rem;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .title {
    font-size: 3.5rem;
    font-weight: 700;
    font-family: 'Poppins';
    line-height: 1;
  }
  
  .title-eazy {
    color: #000;
    font-size: 7rem;
  }
  
  .title-train {
    color: #0066ff;
    font-size: 7rem;
  }
  
  @media (max-width: 766px) {
    .title-container {
      margin-bottom: 0;
    }
    .title {
      font-size: 2.5rem;
    }
    .title-eazy, 
    .title-train {
      font-size: 3rem;
    }
    
  }
  